{% extends "layout.html" %}
{% block body %}

{% if results3 %}
  <h2>Here are requests!!</h2>
	<div>
		<table border="1">
		<tr>
		<td>name</td>
		<td>time</td>
		<td>process</td>
		</tr>
		{% for res in results3 %}
		<tr>
		<td>{{ res[0] }}</td>
		<td>{{ res[1] }}</td>		
	    <td><a href="{{ url_for('agreereq',uname = res[0]) }}" > agree</a>
		<a href="{{ url_for('rejectreq',uname = res[0]) }}" > reject</a>
	    </td>
		</tr>
		{% endfor %}
		</table>
	</div>
{% endif %}
		   
	
   <h2> Your friends</h2>
	{% if results %}
		<div>
			<table border='1'>
				<tr><th> friends </th></tr>
				{% for res in results %}
					<tr> <td>
					<a href="{{ url_for('user_timeline',username=res)  }}">{{ res }}</a>
					</td> </tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<p>No results.</p>
	{% endif %}


	<form action="{{ url_for('friends') }}" method=post>
  <dl>
	<dt>search friends: <input type=text name=search> <input type=submit value=submit >
  </dl>
</form>
{% if results1 %}
	<div>
		<table border='1'>
			<tr><th> name </th></tr>
			{% for res in results1 %}
				<tr> <td>
				<a href="{{ url_for('friendsreq', uname=res)  }}">{{ res }}</a>
				</td> </tr>
			{% endfor %}
		</table>
	</div>

{% endif %}
	
{% endblock %}

