{% extends "layout.html" %}
{% block body %}

{% if results3 %}
	<div class=twitbox>
  <h2>Here are requests!!</h2>
		<table style="border: 1px solid #ccc;">
		<tr>
		<td style="border: 1px solid #ccc;">name</td>
		<td style="border: 1px solid #ccc;">time</td>
		<td style="border: 1px solid #ccc;">process</td>
		</tr>
		{% for res in results3 %}
		<tr>
		<td style="border: 1px solid #ccc;">{{ res[0] }}</td>
		<td style="border: 1px solid #ccc;">{{ res[1] }}</td>		
	    <td style="border: 1px solid #ccc;"><a href="{{ url_for('agreereq',uname = res[0]) }}" > agree</a>
		<a href="{{ url_for('rejectreq',uname = res[0]) }}" > reject</a>
	    </td>
		</tr>
		{% endfor %}
		</table>
	</div>
{% endif %}
		   
	
		<div class=twitbox>
   <h2> Your friend list</h2>
	{% if results %}
			<table style="border: 1px solid #ccc;">
				<tr><th style="border: 1px solid #ccc;"> friends </th></tr>
				{% for res in results %}
					<tr> <td style="border: 1px solid #ccc;">
					<a href="{{ url_for('user_timeline',username=res)  }}">{{ res }}</a>
					</td> </tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<p>Sorry, no friends.</p>
	{% endif %}


	<form action="{{ url_for('friends') }}" method=post>
  <dl>
	<dt>search friends: <input type=text name=search> <input type=submit value=submit >
  </dl>
</form>
{% if results1 %}
	<div class=twitbox>
		<table style="border: 1px solid #ccc;">
			<tr><th style="border: 1px solid #ccc;"> name </th></tr>
			{% for res in results1 %}
				<tr> <td style="border: 1px solid #ccc;">
				<a href="{{ url_for('friendsreq', uname=res)  }}">{{ res }}</a>
				</td> </tr>
			{% endfor %}
		</table>
	</div>

{% endif %}
	
{% endblock %}

