<html>
<head>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<SCRIPT LANGUAGE="JavaScript">


function openwin()
{
	
	var win  =window.showModalDialog("{{ url_for('map') }}", "", "dialogWidth:1500px;dialogHeight:1000px;dialogLeft:10px;dialogTop:430px;help:no");
if(win != null) 
{ 
document.getElementById("curloc").value = win; 
} 
}



</SCRIPT>
</head>
<body>
<form action="{{ url_for('location') }}" method=post>
location:<input type="text" id="curloc" name="location"  style="width:500px;"  onclick="openwin()" >
<input type=submit value="go">
</form>



</form>
</body>
</html>
 