{% extends "layout.html" %}
{% block body %}
<div class=twitbox>
<h3>This is your profile</h3> <br>
	{% if results %}
			<table border="0">
			<tr>
			<td>First name: &nbsp;&nbsp; </td>
			<td>{{ results[0][0] }}</td>
			</tr>
			<tr>
			<td>Last name: &nbsp;&nbsp; </td>
			<td>{{ results[0][1] }}</td>
			</tr>
			<tr>
			<td>Gender: </td>
			<td>{{ results[0][2] }}</td>
			</tr>
			<td>Email: </td>
			<td>{{ results[0][3] }}</td>
			</tr>
			</table><br>
		</div>
		<div class=twitbox>
		<form action="{{ url_for('profile') }}" method="post">
<h3>Edit your profile</h3>
		  <dl sytle="horizontal-align:left;">
			<dt>Last name:<input type="text" name="lname">
			<dt>First name:<input type="text" name="fname">
			<dt>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email">
			<dt>Gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="gender" value = "male">Male<br>
			<dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="gender" value = "female">Female<br>
		    			<dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="Edit" >
		
		  </dl>
		</form>
	</div>
	{% else %}
		<p>No results.</p>
	{% endif %}
{% endblock %}